body {
  margin: 0;
  font-family: 'avenir next', avenir, sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background: #282c34;
}

button {
  cursor: pointer;
}